pip install django-widget-tweaks
pip install mysql-connector-repackaged
pip install mysqlclient-1.3.7-cp35-cp35m-win32.whl
pip install MySQL-python

Python Anywhere: pip install mysqlclient (dann kann man sich den ganzen anderen SQL Mist da oben sparen)
