{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Goalbacker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/goalapp.css' %}">

  <meta property="og:url"           content="{{ request.build_absolute_uri }}" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Motiviere {{ goal.user }} beim Erreichen des Zieles" />
	<meta property="og:description"   content="Spende an Deutsche Welthungerhilfe e.V., falls {{ goal.user }} sein Ziel "{{goal.goal_body}}" bis in {{goal.goal_deadline|timeuntil}} erreicht. Du spendest damit Motivation UND für einen wohltätigen Zweck - ohne zusätzliche Kosten." />
</head>

<body>
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<!-- Ende Facebook Share Code -->


  <div class="row">
    <div class="navbar">
      <a href="/">
      <img id="navbar_logo" src="../../static/images/Logo_Goalbacker_Pfeil.png" />
      </a>
    </div>

  </div>

  {% block content %}

  {% endblock %}


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
<!-- Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86169478-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
