{% extends 'goalapp/base.html' %}
{% load widget_tweaks %}

{% block content %}

{{ goal_form.non_field_errors }}
<div class="row">
  <div class="col-md-8 col-md-offset-2 slogan">
    <h1>Lass deine Freunde deinen inneren Schweinehund besiegen.</h1>
  </div>
</div>
<form method="POST" class="start_form">{% csrf_token %}
<!-- Anfang Goalform Variablen -->
<div class="row" id="goal_form_row">
  <div class="col-md-4 col-md-offset-3">
    <div class="fieldWrapper">
        <label for="{{ goal_form.goal_body.id_for_label }}">Dein Ziel</label></br>
  <!-- for those render_fields you need to pip install django-widget-tweaks and register 'widget_tweaks', in settings.py as an app -->
        {% render_field goal_form.goal_body type="text" class="form-control" %}
    </div>
  </div>
  <div class="col-md-2">
    <div class="fieldWrapper">
        <label for="{{ goal_form.goal_deadline.id_for_label }}">Deine Deadline</label></br>
        {% render_field goal_form.goal_deadline class="form-control"  %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-3">
    {{ goal_form.goal_body.errors }}
  </div>
  <div class="col-md-2">
    Format: 30.12.2016 13:45:58
    {{ goal_form.goal_deadline.errors }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <button type="submit" class="save btn"  id="save_front">Weiter</button>
  </div>
</div>
</form>
<div class="row">
  <div class="col-md-12 steps">
    <p class="orange_accent">
      1.
    </p> Dein Ziel festlegen
    <p class="orange_accent">
      2.
    </p> Von Freunden wohltätige Spenden für deinen Erfolg einsammeln
     <p class="orange_accent">
      3.
    </p> Den inneren Schweinehund besiegen und mit deinem Erfolg Gutes tun.
  </div>
</div>
{% endblock %}
