{% extends 'goalapp/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2 slogan">
    <h1>Spende an Deutsche Welthungerhile e.V., falls {{ goal.user }} sein Ziel erreicht. Du spendest damit Motivation und für einen guten Zweck.</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 goal_container">
    <p class="orange_accent bigger_font">
      {{ goal.user }}
    </p>
    möchte das Ziel:
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <p class="bigger_font">
           {{goal.goal_body}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        bis in
        <p class="bigger_font">
          {{goal.goal_deadline|timeuntil}}
        </p>
          erreichen.</br> Bisher wurden <p class="green_accent bigger_font">
          {{ goal.goal_funds|floatformat}} €
        </p>
         Motivationsspenden an Deutsche Welthungerhile e.V. zugesagt.
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-3 goal_support_functions">
<!-- Anfang Formular Motivationsspende -->
    <form method="POST" class="start_form">{% csrf_token %}
      <div class="row">
        <div class="col-md-4">
          <div class="fieldWrapper">
        <!-- for those render_fields you need to pip install django-widget-tweaks and register 'widget_tweaks', in settings.py as an app -->
              {% render_field money_form.goal_funds type="text" class="form-control" %}
          </div>
        </div>
        <div class="col-md-2">
          <p class="bigger_font">
            €
          </p>
        </div>
        <div class="col-md-6">
          <button type="submit" class="save btn">Zusagen</button>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12">
        Du spendest nicht nur, wie gewohnt, für einen
        wohltätigen Zweck. Du spendest auch Motivation für {{ goal.user }}.
        Ohne zusätzliche Kosten - Gib deiner Spende einen zusätzlichen Nutzen!
      </div>
    </div>
  </div>
  <div class="col-md-3 goal_support_functions">
<!-- Anfang Formular Motivationsspende -->
      <div class="col-md-12">
        <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="{{ request.build_absolute_uri }}">Teilen</a></div>
      </br>Teile das Ziel mit deinen Freunden, um mehr Motivation und Spenden zu sammeln!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 new_goal">
      <a href="../../">Ein neues Ziel anlegen</a>
    </div>
  </div>
<div class="row">
  <div class="col-md-12 steps" id="steps_usergoals">
    <p class="orange_accent">
      1.
    </p> Motivationsspende zusagen
    <p class="orange_accent">
      2.
    </p> Selber Ziele erstellen und teilen
     <p class="orange_accent">
      3.
    </p> Gemeinsam mit {{ goal.user }} den Erfolg feiern und Gutes tun
  </div>
</div>
{% endblock %}
